v_pohod/menu/__pycache__/
v_pohod/menu/migrations/
v_pohod/v_pohod/__pycache__/
v_pohod/db.sqlite3
v_pohod/user/__pycache__/
prnz-api-test.py
v_pohod/back.log
dtp_Казань_2021_.zip
frontend/.gitignore
.gitignore
v_pohod/user/migrations/__pycache__/
v_pohod/hike/__pycache__/
v_pohod/user/tests/__pycache__/
v_pohod/hike/no_work_tests/__pycache__/
frontend/src/service/config.jsx
v_pohod/hike/hike_tests/__pycache__/
v_pohod/menu/menu_tests/__pycache__/
firebase_frontend/node_modules
firebase_frontend/.firebase
firebase_frontend/build/
frontend/node_modules/
.github/
firebase_frontend/public/robots.txt
firebase_frontend/src/service/config.jsx
