{% extends "base_generic.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
      <div class="row">
        <main class="col-md-9 m-auto col-lg-10 px-md-4">
            {% if user.is_authenticated %}
              <div class="row row-cols-1 row-cols-sm-2 g-2">
                <div class="col">
                  <h3>Обзор походов</h3>
                </div>
                <div class="col text-end">
                  <a href="/hike">Новое событие</a>
                </div>
              </div>
              <div class="album py-5 bg-light">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for hike in hikes %} 
                      {% if forloop.counter0|divisibleby:3 %}  {% endif %}
                        
                        <div class="col">
                          <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ hike.hike_name }}</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ hike.hike_name }}</text></svg>
                
                            <div class="card-body">
                              <p class="card-text"> {{ hike.hike_description }} </p>
                              <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                  
                                  <form class="needs-validation" method="post" action="{% url 'hike' %}">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-sm btn-outline-secondary" id='view_{{ hike.id }}'>View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary" id='edit_{{ hike.id }}'>Edit</button>
                                  </form>
                                </div>
                                <small class="text-muted">{{ hike.participant_count }} участников</small>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            {% else %}
              <p>Для доступа к данной странице нужно авторизоваться</p>
            {% endif %}
        </main>
    </div>
  </div>

{% endblock %}