{% extends "base_generic.html" %}

{% block content %}
    <div>
        <div style="max-width: 330px;    margin: auto;">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    <input type="submit"  class="w-100 btn btn-lg btn-primary" value="Добавить событие" />
                </form>
            {% else %}
              <p>Для доступа к данной странице нужно авторизоваться</p>
            {% endif %}
        </div>
    </div>

{% endblock %}