.text_center {
    text-align: center!important;
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.form_signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}