.back {
    background-color: black;
    opacity: 0.5;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10000;
}

.loader {
    top: 50%;
    left: 50%;
    position: absolute;
}